<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>
  
      <h1><%= wiki.title %></h1>
      <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>

      <p><%- wiki.body %></p>
      
      <% if(currentUser) { %>
      
        <% if(currentUser.role == 2 || (currentUser.role == 1 && currentUser.id == wiki.userId && wiki.private)) { %>

          <hr>
        
          <h1>Add Collaborator:</h1>

          <form action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
            <div class="form-group">
              <label for="newCollaborator">Add Collaborator</label>
              <input type="text" class="form-control" name="newCollaborator" aria-describedby="newCollaboratorHelp" placeholder="Enter User's email address">
            </div>
            <button type="submit" class="btn btn-primary">Add Collaborator</button>
          </form>
          
          <% if(wiki.collaborators[0]) { %>

            <hr>

            <h1>Collaborators</h1>

            <ul class="list-group">
              <% wiki.collaborators.forEach((collaborator) => { %>
                <li class="list-group-item">
                  <a href="/users/<%= collaborator.User.id %>"><%= collaborator.User.name %></a>
                  <form style="display:initial" action="/wikis/<%= wiki.id %>/collaborators/<%= collaborator.id %>/destroy" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </li>
              <% }) %>
            </ul>

          <% } %>

        <% } %>
        
      <% } %>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>