<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1><%= `${user.name}'s profile` %></h1>
      <h5><%= `Email: ${user.email}` %></h5>
      <h6>User Role: <span><% if(user.role === 0) { %>
                            <%= "Standard (Free)" %>
                          <% } else if(user.role === 1) { %>
                            <%= "Premium" %>
                          <% } else if(user.role === 2) { %>
                            <%= "Admin" %>
                          <% } else { %>
                            <%= "huh?" %>
                          <% } %>
                    </span>
      </h6>
      <% if(currentUser && (currentUser.id === user.id)) { %>
        <% if(user.role === 0) { %>
          <span>Upgrade to Premium?</span>
          <form action="/users/<%= user.id %>/upgrade" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_1zQT9SeARTjexYiD1l665bp2"
              data-amount="1500"
              data-name="Demo Site"
              data-description="Example charge"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
            </script>
          </form>
        <% } else if(user.role === 1) { %>
          <% include ../static/partials/downgradeAlertScript.ejs %>
          <form action="/users/<%= user.id %>/downgrade" method="post">
            <button type="submit" onclick="clickAlert(event)" class="btn btn-primary">Downgrade</button><span> to Standard</span>
          </form>
        <% } %>
      <% } %>

      <hr>

      <h2>User Wikis</h2>

      <% if(wikis[0] === undefined) { %>
        <p>None yet!</p>
      <% } else { %>
        <ul class="list-group">
          <% if(wikis) { %>
            <% wikis.forEach((wiki) => { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>">
                  <%= wiki.title %>
                </a>
                <span>[<%= wiki.private ? 'private' : 'public' %>]</span>
              </li>
            <% }) %>
          <% } %>
        </ul>
      <% } %>

      <% if(currentUser) { %>

          <% if(collaborators[0]) { %>

            <hr>

            <h2>Wikis Collaboratorating On:</h2>

            <ul class="list-unstyled">
              <% collaborators.forEach((collaborator) => { %>
                <li class="list-group-item">
                  <a href="/wikis/<%= collaborator.Wiki.id %>">
                    <%= collaborator.Wiki.title %>
                  </a>
                  <span>[<%= collaborator.Wiki.private ? 'private' : 'public' %>]</span>
                </li>
              <% }) %>
            </ul>

          <% } %>

      <% } %> 
           
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>